# NOTE: This file is just an example. You need to replace its values with real values in a new file named just ".env"

DATABRICKS_HOST=https://one-env-vdm-serverless-79p5z6.cloud.databricks.com
DATABRICKS_CLIENT_ID=d7c36cb0-1683-4f76-a4a6-2d1d23be6c0d
LAKEBASE_INSTANCE_NAME=<your-lakebase-db-name>
LAKEBASE_DB_NAME=vibe_coding

MY_EMAIL=<your-full-databricks-email>
DATABRICKS_CLIENT_SECRET=<RETRIEVE-FROM-BOTTOM-CELL-OF-NOTEBOOK-IN-NEXT-STEP>